body {background-color: #204ecf;}
#maintext {margin-top: 250px; margin-right: 300px; width: 550px; margin-left: 35px;}
#header { font-size: 100px; color: white;}
#definition {color: white; font-size: 20px; font-family: arial; font-style: italic;}
.vertical-menu a:hover {color: black;
  text-decoration: none;}
  .vertical-menu a.active {color: white;}
  .vertical-menu a {font-size: 30px; color:  white; text-decoration: none; width: 200px; padding: 20px;
  }
.container {width: 100%; height: 100vh;
}
.slides {width: 100%; height: 100vh; display: flex; color: white; 
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide1 {background-image: url("background.png");
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#however {margin-left: 950px;}
.slide2 {
  background-image: url("background.png"); background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mindmap {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
  overflow: hidden;
}

.pointer {
  opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    max-width: 200px;
    border-radius: 5px;
    color: black;
}

.mindmap.active .pointer {
  opacity: 1;
    transform: translateX(0);
    animation: fadeIn 1s ease-in-out;
}

.slide3 {text-align: center;
align-items: center; 
justify-content: center;
background-image: url(income_inequality.png);
font-size: 40px;
background-size: cover;
color: white;
}
.slide4 {text-align: center;
align-items: center; 
justify-content: center;
background-color: black; font-size: 30px;
background-image: url("homeslide4.png");
background-size: 100%}
#header2 { font-size: 100px; color: white;
}
#line2 {color: white; font-size: 20px; font-family: arial; font-style: italic;
}
.scroll {color: white;
  position: absolute;
    top: 145%; 
    left: 90%; 
    transform: translate(-50%, -50%);
    padding: 10px;
 font-family: monospace;} 


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

